
#'.gitignore'的作用是告诉 Git： 这些文件/目录不要追踪，不要提交到仓库

# Python 字节码缓存
__pycache__/
*.py[cod]

# 虚拟环境
myvenv/
venv/
env/

#nginx
nginx/

#redis
redis/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# 本地环境变量
.env
*.local

# IDE
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db
desktop.ini